body{
    background-image: url(img/bg-login.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.mid-logo{
    display: flex;
    margin-top: 10%;
    /* justify-content: center; */
    margin-left: 23.3%;
}
.mid-logo img{
    width: 15%;

}
.box-form{
    width: 50vh;
    height: 80%;
    margin-left: 15%;
    box-sizing: border-box;
    margin-top: 3%;
}
.box-form fieldset{
    border-radius: 10%;
    background-color: transparent;
    border: 0;
}
.box-form h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
/* .box-input{
    margin: 20%;
    padding: 30%;
    justify-content: center;
} */
.user{
    width: 25vh;
    height: 3vh;
    margin-top: 10%;
    margin-left: 25%;
}
.user input{
    width: 25vh;
    height: 3vh;
    border-radius: 9px;
}
.user ion-icon{
    font-size: 30px;
}
.pass ion-icon{
    font-size: 30px;
}
.pass input{
    width: 25vh;
    height: 3vh;
    border-radius: 9px;
}
.pass{
    width: 25vh;
    height: 3vh;
    margin-top: 9%;
    margin-left: 25%;
}
/* .box-input ion-icon{
    position: relative;
    margin-left: 20%;
    margin-top: 20;
} */
.box-input button{
    width: 25%;
    height: 13%;
    float: right;
    margin-right: 20%;
    /* margin-top: 10%; */
    margin-bottom: 20%;
    background-color: rgb(111, 177, 253);
    border-radius: 10%;
    border: 1px solid;
    font-size: 20px;
    position: inherit;
}
.remember{
    position: inherit;
    /* margin-top: 20%; */
}
.rem-sig{
    display: flex;
    justify-content: space-around;
    gap: 5%;
    margin-left: 20%;
    margin-top: 15%;
}